@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');

.completed {

    border-radius: 5px;
    padding: 2px;
    margin: 6px 8px;

}

.completed:hover {
    background-color: #228B22;
    color: #ffffff;
}

.logo {
    font-size: 36px;
    font-family: 'Dancing Script', cursive;
    font-weight: 700;
    padding-left: 50px;
}

.completed-text {

    color: #228B22;
    font-weight: 600;
}

.completed-text:hover {
    color: #ffffff;
}

.logout {
    /* background-color: #FC0808; */
    border-radius: 5px;
    padding: 2px;
    margin: 6px 8px;
}

.logout:hover {
    background-color: #FC0808;
    color: #ffffff;
}

.logout-text {
    color: #FC0808;
    font-weight: 600;
}

.logout-text:hover {
    color: #ffffff;
}